* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.navBar {
  display: flex;
  flex-direction: row;
  background-color: rgb(251, 133, 133);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 10px 5% 0 0;
  height: 70px;
  color: rgb(191, 55, 55);
}

.navBar h1 {
  background-color: rgb(244, 205, 185);
  padding: 5px 1% 5px 6%;
  margin: 0;
}

.navBar img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: -48%;
  top: 30%;
  left: 50%;
  transform: translate(10%, 0%);
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 35%;
  margin-right: -6%;
  padding: 15px 5% 15px 0;
  background-color: rgb(244, 205, 185);
}

nav a {
  color: rgb(191, 55, 55);
}

nav a:hover {
  text-decoration: rgb(251, 133, 133) 4px underline overline;
}

.hero-banner {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  height: 30%;
}

.hero-banner img {
  height: 100px;
  position: relative;
}

.hero-banner div {
  flex: 0 0 90%;
}

.bottom-right {
  position: absolute;
  bottom: 16px;
  right: 8px;
  background-color: rgb(251, 133, 133);
  padding: 5px;
  font-size: 23px;
}

main {
  margin-top: 30px;
  margin-bottom: 50px;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.page-section h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid rgb(251, 133, 133);
}

.page-section div {
  flex: 0 0 80%;
}

.page-section p {
  margin-bottom: 15px;
  margin: 0 2%;
}

.flex-grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
}

.flex-grid-item {
  border: 5px solid rgb(251, 133, 133);
  padding: 0 0 15px 0;
  margin: 0 2% 5%;
  padding: 6%;
}

.flex-grid-item div {
  background-color: rgba(251, 133, 133, 0.7);
  padding: 10px;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

.CV {
  background-image: url("../images_2/ganache.jpeg");
  background-size: 80%;
  min-height: 230px;
}

.CV:hover,
.refactor:hover,
.prework:hover,
.placeholder:hover {
  transform: scale(1.2);
}

.refactor {
  background-image: url("../images_2/refactor.jpeg");
}

.prework {
  background-image: url("../images_2/prework.jpeg");
  background-size: 145%;
}

.placeholder {
  background-image: url("../images_2/placeholder.webp");
  background-repeat: no-repeat;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contact a {
  color: rgb(251, 133, 133);
}

@media screen and (max-width: 1000px) {
  header {
    padding: 0;
    margin-bottom: 10px;
    justify-content: center;
    text-align: center;
  }

  header h1 {
    padding: 5px;
    font-size: 12px;
  }

  header img {
    display: none;
  }
  /*header img{
      width: 50px;
      height: 50px;
      object-fit: scale-down;
      border-radius: 50%;
      margin-right: 10%;
  }*/

  header nav {
    width: 110%;
    justify-content: space-around;
    font-size: 12px;
  }

  .page-section > h2,
  .page-section div {
    flex: 0 0 100%;
  }

  .page-section > h2 {
    border-right: none;
    border-bottom: 4px solid rgb(251, 133, 133);
    margin-bottom: 25px;
    padding-bottom: 10px;
    text-align: left;
  }
}
